* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* Définition des variables couleur */
  --primary: #f3e9f1;
  --secondary: #a62cd7;
  --tertiary: #f9c9a8;
}

/* <HEADER>
==========*/
.top_page {
  padding-bottom: 2em;
  background-color: var(--primary);
  box-shadow: 0.8em 0.8em 0.8em var(--secondary);
  width: 100%;
}

.navig {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 20em;
}

.btn-contain {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.basket_link {
  text-decoration: none;
  color: black;
}

.basket_icon {
  font-size: 2em;
  padding-right: 0.5em;
}

.home_link {
  text-decoration: none;
  color: black;
}

.home_icon {
  font-size: 2em;
  padding-right: 0.5em;
}

.btn-home {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1em 1em 1em 1em;
  border-radius: 2em 2em 2em 2em;
  border: 2px solid var(--tertiary);
  box-shadow: 0.2em 0.2em 0.2em 0.2em #323033;
  background: -linear-gradient(
    top,
    var(--secondary),
    var(--tertiary),
    var(--primary)
  );
  background: linear-gradient(
    to bottom,
    var(--secondary),
    var(--tertiary),
    var(--primary)
  );
}

.btn-home:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

.btn-home:active {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
  box-shadow: none;
}

.btn-basket {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1em 1em 1em 1em;
  border-radius: 2em 2em 2em 2em;
  border: 2px solid var(--tertiary);
  box-shadow: 0.2em 0.2em 0.2em 0.2em #323033;
  background: -linear-gradient(
    top,
    var(--secondary),
    var(--tertiary),
    var(--primary)
  );
  background: linear-gradient(
    to bottom,
    var(--secondary),
    var(--tertiary),
    var(--primary)
  );
}

.btn-basket:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

.btn-basket:active {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
  box-shadow: none;
}
/* </HEADER>
===========*/

/* loading spinner
+++++++++++++++++*/
.loading_spinner {
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hidden {
  animation: disparition 2s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes disparition {
  100% {
    opacity: 0;
    /*display: none;*/
    z-index: -1;
  }
}

@keyframes disparition {
  100% {
    opacity: 0;
    /*display: none;*/
    z-index: -1;
  }
}

.loader {
  color: var(--secondary);
  font-size: 6em;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 3em auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 1.7s infinite ease-in-out,
    round 1.7s infinite ease-in-out;
  animation: load 1.7s infinite ease-in-out, round 1.7s infinite ease-in-out;
}
@-webkit-keyframes load {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* /loading.html
+++++++++++++++*/

/* index.html 
++++++++++++*/
.teddies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teddie {
  display: flex;
  flex-direction: column;
  width: 60%;
  background: -linear-gradient(
    top,
    var(--secondary),
    var(--tertiary),
    var(--primary)
  );
  background: linear-gradient(
    to bottom,
    var(--secondary),
    var(--tertiary),
    var(--primary)
  );
  height: 18em;
  margin-bottom: 2em;
  padding: 0.8%;
  border: solid 2px #323033;
  border-radius: 1em;
  box-shadow: 0.4em 0.4em 0.4em 0.4em #323033;
}
.teddie:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

.teddie:active {
  box-shadow: none;
}

.teddie a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teddie img {
  object-fit: fill;
  width: 95%;
  height: 10em;
  border-radius: 1em;
  border: solid 2px #323033;
}

.teddie_details {
  font-size: 0.7em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1em 1em 1em 1em;
  border-radius: 1em 1em 1em 1em;
  border: 2px solid var(--tertiary);
  box-shadow: 0.2em 0.2em 0.2em 0.2em #323033;
  background: -linear-gradient(
    top,
    var(--secondary),
    var(--tertiary),
    var(--primary)
  );
  background: linear-gradient(
    to bottom,
    var(--secondary),
    var(--tertiary),
    var(--primary)
  );
}

.teddie_details:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

.teddie_details:active {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
  box-shadow: none;
}

/* /index.html 
+++++++++++++*/

/* produit.html
++++++++++++++*/
.file {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_file {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 85%;
  background: -linear-gradient(
    top,
    var(--secondary),
    var(--tertiary),
    var(--primary)
  );
  background: linear-gradient(
    to bottom,
    var(--secondary),
    var(--tertiary),
    var(--primary)
  );
  height: 35em;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 5%;
  padding-right: 5%;
  border: solid 2px #323033;
  border-radius: 1em;
  box-shadow: 0.4em 0.4em 0.4em 0.4em #323033;
}

.box_picture img {
  object-fit: fill;
  width: 100%;
  height: 12em;
  border-radius: 1em;
  justify-items: center;
  border: solid 2px #323033;
}

.box_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_basket {
  font-size: 0.7em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1em 1em 1em 1em;
  border-radius: 1em 1em 1em 1em;
  border: 2px solid var(--tertiary);
  box-shadow: 0.2em 0.2em 0.2em 0.2em #323033;
  background: -linear-gradient(
    top,
    var(--secondary),
    var(--tertiary),
    var(--primary)
  );
  background: linear-gradient(
    to bottom,
    var(--secondary),
    var(--tertiary),
    var(--primary)
  );
}

.product_basket:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

.product_basket:active {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
  box-shadow: none;
}
/* /produit.html
+++++++++++++++*/

/* <FOOTER>
==========*/
.bottom_page {
  background-color: var(--primary);
  height: 10em;
}
/* </FOOTER>
========== */

/* page 'panier.html' photos */
.picture_basket {
  width: 3em;
  height: 3em;
}

.remove_one {
  cursor: pointer;
}

.remove_all {
  cursor: pointer;
}

#check_button {
  cursor: pointer;
}
/* page 'confirmation.html' photos */

.order_picture {
  width: 3em;
  height: 3em;
}
